<!-- API -->
<!-- %- include('partials/_error',{errMsg}); %> -->

<section class="generic-error">

    <div class="card">
        <h4 class="card-header">Error</h4>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p><%= errMsgMain %> </p>
            <footer class="blockquote-footer"><%= errMsgSub %></footer>
          </blockquote>
        </div>
      </div>

</section>

<!-- <section class="call-to-action-error">

    <div class="card">
        <h5 class="card-header">Error</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

</section> -->