<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
      <%if (users[cookie]) { %>
      <div class="mr-3">
        <span class="navbar-text" style="color: black">
          Logged in as: <%= users[cookie].email %>
        </span>
      </div>
      <form action="/logout" method="POST">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
          Logout
        </button>
      </form>
      <% } else { %>
      <form class="form-inline my-2 my-lg-0" action="/login" method="POST">
        <input
          class="form-control mr-sm-2"
          name="username"
          placeholder="Username"
        />
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
          Login
        </button>
      </form>
      <% } %>
    </div>
  </nav>
</header>
